{% extends 'indexBase.html' %}

{% block navigation %}
{% load static %}
<style>
    div.b {
        white-space: nowrap;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;

    }
</style>



<link href="{% static 'css\styles.css' %}" rel="stylesheet" />

<div class="d-flex flex-column align-items-center text-center p-3 py-5">


    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle"
                    width="150" height="150" src="{{url}}"><br><span class="font-weight-bold">{{user.first_name}}
                    {{user.last_name}}</span>
            </div>



        </div>
        {% if drafts %}

        

        <div style="width:1000px;height:600px;line-height:3em;overflow:auto;padding:5px;">
            
            <h2 class="fw-bolder fs-5 mb-4">Los siguientes posteos estan a la espera de ser Publicados</h2>
            {% for draft in drafts %}

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="btn btn-secondary bt-sm" href="{% url 'verpost' draft.id %}">Ver</a>
                    <form action="{% url 'editPost' draft.id %}" method="GET">
                        <button class="btn btn-outline-success" type="submit">Configurar y Publicar</button>
                    </form>
                    <a class="btn btn-secondary bt-sm" href="{% url 'eliminarPost' draft.id %}">Eliminar</a>


                    <div class="b">
                        <span class="b">{{draft.titulo}}</span>

                    </div>
                    <span>{{draft.fecha}}</span>
                    <span class="b">{{draft.user}}</span>

                </li>

                {% endfor %}
                {% endif %}
                
                {% if publicados %}   
                <br>  
                <h2 class="fw-bolder fs-5 mb-4">Debajo los posteos ya Publicados</h2>

       

            {% for publicado in publicados %}

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="btn btn-secondary bt-sm" href="{% url 'verpost' publicado.id %}">Ver</a>
                    <form action="{% url 'editPost' publicado.id %}" method="GET">
                        <button class="btn btn-outline-success" type="submit">Editar</button>
                    </form>
                    <a class="btn btn-secondary bt-sm" href="{% url 'eliminarPost' publicado.id %}">Eliminar</a>


                    <div class="b">
                        <span class="b">{{publicado.titulo}}</span>

                    </div>
                    <span>{{publicado.fecha}}</span>
                    <span class="b">{{publicado.user}}</span>

                </li>

                {% endfor %}
                
            
                {% endif %}


        </div>

        {% endblock navigation %}