{% extends 'indexBase.html' %}

{% load static %}

{% block navigation %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a la sección de Juegos</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Se podra ver información sobre actualizaciones de videojuegos y agregar mas información</p>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="https://i.pinimg.com/originals/e0/73/71/e073716d0d0c92e002d603783a9854cd.gif" style="border: 12px solid rgba(63, 63, 63, 0.247);" width="560" height="350" alt="">
                
            </div>
    </div>
</header>
<br><br>


<div class="row gx-5 justify-content-center">
    
    
    <div class="col-lg-8 col-xl-6">
        <h2 class="display-10 fw-bolder text-black mb-2">Aqui debajo puedes crear un nuevo Juego</h2>
        <br>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="{% url 'NewPostSaveG'%}" method="post"> {% csrf_token %}
            <!-- Nombre-->
            <div class="form-floating mb-3">
                <input class="form-control" id="nombre" type="text" name="nombre" placeholder="Ingresa el Nombre del Post" data-sb-validations="required" />
                <label for="name"><strong>Nombre</strong></label>
                
            </div>
            <!-- Año de creación-->
            <div class="form-floating mb-3">
                <input class="form-control" id="anodecreacion" type="text" name="anodecreacion" placeholder="Ingresa el año de lanzamiento del videojuego" data-sb-validations="required" />
                <label for="name"><strong>Año de creación</strong></label>
                
            </div>
            <!-- Contenido-->
            <div class="form-floating mb-3">
                <strong>Desarrollador</strong>
                {{form.desarrollador}}
                <p>¿No encuentra su desarrollador? <a href="{% url 'CreaDesarrollador' %}" target="_blank"> Haga click aquí</a> </p>
                
            </div>

            <div class="form-floating mb-3">
                <strong>Género</strong>
                {{form.genero}}
                <p>¿No encuentra su genero? <a href="{% url 'CreaGenero' %}" target="_blank"> Haga click aquí</a> </p>
                
            </div>
            <div class="form-floating mb-3">
                <strong>Plataforma</strong>
                {{form.plataforma}}
                <p>¿No encuentra su plataforma?<a href="{% url 'CreaPlataforma' %}" target="_blank"> Haga click aquí</a> </p>
                
            </div>
            <!-- descripcion-->
            <div class="form-floating mb-3">
                <textarea class="form-control" id="descripcion" type="text" name="descripcion" placeholder="Es necesario una descripcion para realizar el Post" style="height: 5rem" data-sb-validations="required"></textarea>
                <label for="message"><strong>Descripción</strong></label>
                
            </div>
            <!-- Imagen-->
            <div class="form-floating mb-3">
                <input class="form-control" id="urlimagen" type="text" name="urlimagen" placeholder="Ingresa una imagen para tu post" data-sb-validations="required" />
                <label for="name"><strong>URL de la imagen</strong></label>
                
            </div>
            <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit" class="submitBtn" value="{{form.user.id}}">Postear</button>
        </form>
    </div>
</div>
</div>



{% endblock navigation %}

