{% extends 'indexBase.html' %}

{% load static %}

{% block navigation %}



    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a la sección de Juegos</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Se podra ver información sobre actualizaciones de videojuegos y agregar mas información</p>
                        <br>
                        <br>
                        <h5 class="display-6 fw-bolder text-white mb-2">Desarrolladores</h5>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://images2.alphacoders.com/123/1231556.png" alt="Sección videojuegos" /></div>
            </div>
        </div>
    </header>
    <body>
        <form action="{% url 'CreaDesarrollador' %}" method="POST"> {% csrf_token %}
            

            
            {{form.as_p}}
            
            
            <input type="submit" value="Enviar">
        </form>
    </body>
{% endblock navigation %}