{% extends 'indexBase.html' %}

{% load static %}

{% block navigation %}
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a la sección de Juegos</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Se podra ver información sobre actualizaciones de videojuegos y agregar mas información</p>
                        <br>
                        <br>
                        <h5 class="display-6 fw-bolder text-white mb-2">Plataformas</h5>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="https://i.pinimg.com/originals/e0/73/71/e073716d0d0c92e002d603783a9854cd.gif" style="border: 12px solid rgba(63, 63, 63, 0.247);" width="560" height="350" alt="">
                    
                </div>
        </div>
    </header>
    <body>

        <form method="POST"> {% csrf_token %}
        

            {{form.as_p}}
            
            <input type="submit" value="Enviar">
        </form>

    </body>
{% endblock navigation %}