{% extends 'indexBase.html' %}

{% load static %}

{% block navigation %}
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a la sección de Juegos</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Se podra ver información sobre actualizaciones de videojuegos y agregar mas información</p>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'all_games' %}">Todos los Juegos</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="https://i.pinimg.com/originals/15/e7/e3/15e7e300166c962d3b8a22f60b5cac9e.gif" style="border: 12px solid rgba(63, 63, 63, 0.247);" width="560" height="350" alt="">
                </div>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Géneros</a>
              <ul class="dropdown-menu">
                {% for genero in generos %}
                <li><a class="dropdown-item" href="#">{{genero.nombre}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Desarrolladores</a>
                <ul class="dropdown-menu">
                  {% for desarrollador in desarrolladores %}
                  <li><a class="dropdown-item" href="#">{{desarrollador.nombre}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Plataformas</a>
                <ul class="dropdown-menu">
                  {% for plataforma in plataformas %}
                  <li><a class="dropdown-item" href="#">{{plataforma.nombre}}</a></li>
                  {% endfor %}
                </ul>
              </li>
          </ul>
    </header>
    <body>
        
         <!-- Prueba de card -->
         <section class="py-5">
            <div class="container px-5">
                
                {% for juego in juegos %}

                    
                        <div class="card border-0 shadow rounded-3 overflow-hidden">
                            <div class="card-body p-0">
                                <div class="row gx-0">
                                    <div class="col-lg-6 col-xl-5 py-lg-5">
                                        <div class="p-4 p-md-5">
                                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{juego.genero}}</div>
                                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{juego.anodecreacion}}</div>
                                            <div class="h2 fw-bolder">{{juego.nombre}}</div>

                                        
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('{{juego.urlimagen}}')">
                                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'DetalleJuego' juego.id %}" target="blank"></a>
                                    </div></div>
                                    
                                </div>
                            </div>
                        </div>
                        <br></br>
                {% endfor %}
                
                
            </div>
        </section>

        

        <header class="bg-dark bg-gradient rounded-3 p-4 p-sm-5 mt-5" >
        <section class="py-1" id="features">
            <div class="container px-1 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder text-white mb-2">Aqui puedes buscar un juego por el nombre</h2>
                        <br></br>
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8 col-xl-12">
                                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="{% url 'Buscar' %}" method="GET">
                                        <!-- Name input-->
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="nombre" name="nombre" type="text" placeholder="Nombre del juego" data-sb-validations="required" />
                                            <label for="nombre">Buscar un juego</label>
                                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                        </div>
                                        <!-- Submit-->
                                        <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit" class="submitBtn" value="Buscar">Buscar</button>
                                    </form>
                                </div>
                            </div>
                        </div>



             <!-- Prueba de card -->
             <section class="py-5">
            
                </div>
                <a class="btn btn-primary btn-lg" href="{% url 'CreaJuego' %}">Agregar otro juego</a>
                </div>
            
                </div>
            </section>
        </header>

        
            
       
    </body>


{% endblock navigation %}

