{% extends 'indexBase.html' %}

{% load static %}

{% block navigation %}
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a la sección de Juegos</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Se podra ver información sobre actualizaciones de videojuegos y agregar mas información</p>
                        <br>
                        <br>
                        <h5 class="display-6 fw-bolder text-white mb-2">Desarrolladores</h5>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://images2.alphacoders.com/123/1231556.png" alt="Sección videojuegos" /></div>
            </div>
        </div>
    </header>
    <body>

        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Aqui puedes buscar por Desarrollador</h2>
                        <br></br>
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8 col-xl-12">
                                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="{% url 'BuscarDesarrollador' %}" method="GET">
                                        <!-- Name input-->
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="desarrollador" name="desarrollador" type="text" placeholder="Buscar por desarrollador" data-sb-validations="required" />
                                            <label for="genero">Buscar por Desarrollador</label>
                                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                        </div>
                                        <!-- Submit-->
                                        <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit" class="submitBtn" value="Buscar">Buscar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
        <ul>      
                <br><br>         
            {% for dev in object_list %}
                
                <li>
                    <a class="display-7 fw-bolder text-dark mb-3" href="{% url 'DetalleDesarrollador' dev.id %}">{{dev.nombre}}</a>
                </li>
                
                <a class="btn btn-primary btn-sm" href="{% url 'EditaDesarrollador' dev.id %}">Editar</a> <a class="btn btn-secondary  btn-sm" href="{% url 'EliminarDesarrollador' dev.id %}">Eliminar</a>
                <br><br>
                
            {% endfor %}

            <li>
                <a class="btn btn-primary btn-lg px-1 me-sm-3" href="{% url 'CreaDesarrollador' %}">Agregar otro Desarrollador</a>
            </li>
                
        </ul>

        
       
    </body>
{% endblock navigation %}

