
	<!DOCTYPE html>
	<html lang="en" dir="ltr">


	<head>

		{% load static %}
		

	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
		<link href="{% static 'css\styles.css' %}" rel="stylesheet" />
		<link href="{% static 'css\style-login.css' %}" rel="stylesheet" />
		<link href="{% static 'scripts.js' %}" rel="stylesheet" />
	</head>

	<body class="bg-dark p-2 text-dark bg-opacity-75">

		<br></br>

		<a class="btn btn-secondary" href="{% url 'index'%}" role="button">Continuar como Invitado</a>
	<div class="container" id="container">
		
		
				<form action="{% url 'login'%}" method="post"> {% csrf_token %}
					<h1>Sign in</h1>
				<div class="social-container">		
				</div>
				
				{% for fields in form %}
					{{fields.label}}
					<label class="col-sm-6 col-form-label">{{fields}}</label>
					
				{% endfor %}
					
				<button type="submit" value="Login">Ingresar</button>
				</form>
				
			
	</div>
	

	
	</body>

	</html>



