{% extends 'indexBase.html' %}

{% block navigation %}

<div class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <h2 class="display-10 fw-bolder text-white mb-2">Aqui debajo puedes crear un nuevo Post</h2>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
<br></br>
<br></br>

<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
            
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="{% url 'NewPostSave'%}" method="post"> {%csrf_token %}
            <!-- Asunto-->
            
                {{pform.as_p}}
                {{pform.media}}
            
            
            <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit" class="submitBtn"
                value="Postear">Postear</button>
            
        </form>
    </div>
</div>
</div>



{% endblock navigation %}