{% extends 'indexBase.html' %}

{% block navigation %}

<div class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <h2 class="display-10 fw-bolder text-white mb-2">Modificar Perfil</h2>
    </div>
</div>

<br></br>
<br></br>


  

<div class="row gx-5 justify-content-center"> 
<div class="card border-secondary mb-3" style="max-width: 22rem;">
    <div class="card-header">Modifica tus datos</div>

    <div class="col-lg-8 col-xl-2">
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        
        <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="{% url 'modperfil'%}" method="post"> {% csrf_token %}
            <!-- Asunto-->
            
            <div class="form-floating mb-3">
                <div class="form-group">
                <label for="name">Nombre</label>
                {{miFormulario.first_name}}
                </div>
            </div>
            <!-- descripcion-->
            <div class="form-floating mb-3">
                <div class="form-group">
                <label for="name">Apellido</label>
                {{miFormulario.last_name}}
                </div>
            </div>
            <!-- Contenido-->
            <div class="form-floating mb-3">
                <div class="form-group">
                <label for="name">Email</label>
                {{miFormulario.email}}
                </div>
            </div>
            <!-- Imagen-->
            <div class="form-floating mb-3">
                <div class="form-group">
                <label for="name">Contraseña</label>
                {{miFormulario.password1}}
                </div>
            </div>
            <!-- Autor-->
            <div class="form-floating mb-3">
                <div class="form-group">
                <label for="name">Contraseña</label>
                {{miFormulario.password2}}
                </div>
            </div>
            <button class="btn btn-secondary btn-sm px-4 me-sm-3" method="post">Actualizar</button>
            <br></br>
        </form>
        
    </div>
</div>
</div>
</div>
</div>   
{% endblock navigation %}

