{% extends 'buscarpreferencias.html' %}


{% block respuesta %}
<div class="bg-dark py-4 mt-auto">
    <div class="container px-5">

    <p class="display-10 fw-bolder text-white mb-2">Estos son algunos datos de nuestros usuarios que programan en {{lenguaje}}</p>
    

        {%   if preferencias %}
        
        <ul>
            
            {% for pref in  preferencias %}
            
                <li class="display-10 fw-bolder text-white mb-2">Lenguaje Utilizado -{{pref.lenguaje}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Generalmente trabaja en - {{pref.backOfront}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Es de - {{pref.pais}} &nbsp&nbsp&nbsp&nbsp- {{pref.trabajo}}, Esta en Busqueda Laboral</li>
               
            {% endfor %}
                


        </ul>
        
        {% endif %}
        
    
    </div>
</div>
{% endblock respuesta %}
    