{% extends 'padre.html' %}


{% block navigation %}

    <p>Estamos buscando a: {{nombre}}</p>>

    {% if juegos %}
        <ul>

            
            {% for juego in juegos %}
                <li>
                    <a href="{% url 'DetalleJuego' juego.id %}">{{juego.nombre}}</a>
                </li>
            {% endfor %}
                
        </ul>
    {% endif %}

    {% if desarrolladores %}
        <ul>

            
            {% for desarrollador in desarrolladores %}
                <li>
                    <a href="{% url 'DetalleDesarrollador' desarrollador.id %}">{{desarrollador.nombre}}</a>
                </li>
            {% endfor %}
                
        </ul>
    {% endif %}

    {% if generos %}
        <ul>

            
            {% for genero in generos %}
                <li>
                    <a href="{% url 'DetalleGenero' genero.id %}">{{genero.nombre}}</a>
                </li>
            {% endfor %}
                
        </ul>
    {% endif %}

    {% if plataformas %}
        <ul>

            
            {% for plataforma in plataformas %}
                <li>
                    <a href="{% url 'DetallePlataforma' plataforma.id %}">{{plataforma.nombre}}</a> --- <a href="{{plataforma.link}}" target="blank">{{plataforma.link}}</a>
                </li>
            {% endfor %}
                
        </ul>
    {% endif %}
        
        

    {% endblock navigation %}